@font-face {
  font-family: "iconfont"; /* Project id 3340720 */
  src: url('//at.alicdn.com/t/font_3340720_bmvrd3tm88s.woff2?t=1651044866677') format('woff2'),
       url('//at.alicdn.com/t/font_3340720_bmvrd3tm88s.woff?t=1651044866677') format('woff'),
       url('//at.alicdn.com/t/font_3340720_bmvrd3tm88s.ttf?t=1651044866677') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diepian:before {
  content: "\e669";
}

.icon-shiyongxiaochuangbofang:before {
  content: "\e685";
}

.icon-xiaochuang:before {
  content: "\e6b5";
}

.icon-pinglun1:before {
  content: "\e63a";
}

.icon-dianzan1:before {
  content: "\e604";
}

.icon-shoucang:before {
  content: "\e606";
}

.icon-fenxiangzhuanfa:before {
  content: "\e716";
}

.icon-fenxiangzhuanfa-copy:before {
  content: "\ec38";
}

.icon-shoucang-copy:before {
  content: "\ec39";
}

.icon-dianzan1-copy:before {
  content: "\ec3a";
}

.icon-pinglun1-copy:before {
  content: "\ec3b";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-dianzan:before {
  content: "\e60b";
}

.icon-bofang:before {
  content: "\e61f";
}

.icon-sangedian:before {
  content: "\eba7";
}

.icon-fanhuijiantou:before {
  content: "\e709";
}

.icon-fanhuijiantou-copy:before {
  content: "\ec36";
}

.icon-sangedian-copy:before {
  content: "\ec37";
}

.icon-shangchuanyunpan:before {
  content: "\e6b3";
}

.icon-bendisucaibeifen:before {
  content: "\e609";
}

.icon-yunpan:before {
  content: "\e79b";
}

.icon-boke1-copy:before {
  content: "\e602";
}

.icon-wodehaoyou:before {
  content: "\e629";
}

.icon-xiaoxitongzhi:before {
  content: "\ec35";
}

.icon-dongtai:before {
  content: "\e610";
}

.icon-paihangbang_paiming:before {
  content: "\e658";
}

.icon-zhuanji:before {
  content: "\e60a";
}

.icon-zhibo:before {
  content: "\e7d5";
}

.icon-bofanggedan:before {
  content: "\e6be";
}

.icon-tuijian:before {
  content: "\e628";
}

.icon-Home:before {
  content: "\e64f";
}

.icon-home2:before {
  content: "\e603";
}

.icon-guanzhuxuanzhong:before {
  content: "\e601";
}

.icon-geren2:before {
  content: "\e6bc";
}

.icon-faxian1:before {
  content: "\e746";
}

.icon-faxian2:before {
  content: "\e622";
}

.icon-guanzhu:before {
  content: "\e600";
}

.icon-personnone:before {
  content: "\e64e";
}
